<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.danieloneill.healthyhabits">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/signUp_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/signIn_title" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/home_title" />
        <activity
            android:name=".FoodActivity"
            android:label="@string/food_title" />
        <activity
            android:name=".DrinkActivity"
            android:label="@string/drink_title" />
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/exercise_title" />
        <activity
            android:name=".SleepActivity"
            android:label="@string/sleep_title" />
        <activity
            android:name=".SocialActivity"
            android:label="@string/social_title" />
    </application>

</manifest>